

.carousel-item {
    max-height: 500px;
}

.text-desc {
    font-family: var(--font-projects);
    /* font-size: 50px; */
    /* font-weight: bolder; */
    color: #006753;
    text-align: right;
    padding-top: 10px;
}

.slide-background h5 {
    font-size: 100px;
}

.slide-background p {
    font-size: 20px;
}

.slide-background img {
    background: linear-gradient(to bottom, transparent);
}