

.wrapper {
    position: absolute;
    height: 100%;
}

.vertical-left {
    min-height: 100%;
    min-height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


#my-name {
    font-family: var(--font-main);
    font-size: 40px;
    padding-top: 40px;
    /* color: var(--purple); */

}

.list-group-item  {
    color: white;
    font-family: var(--font-projects);
    background-color: var(--primary);
    font-size: 16px;
}

.list-group-item:hover{
    color: var(--primary);
    background-color: white;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--dark-primary);
    /* background-color: white; */
}