:root {
    --red: #e80d0d;
    --yellow: #ffc600;
    --yellow-green: #D4FC23;
    --teal: #B5F0F4;
    --blue: #4DBCE6;
    --blue-green: #0ed6a4;
    --pink-lavender: #D1B1CB;
    --pink: #F468B2; 
    --orange: #FF8A4E;
    --black:#010E0F;
    --purple:#261758;
    --primary: #5BC8B3;
    --dark-primary: #263338;
    
    --font-one: 'Baloo Tamma 2', cursive;
    --font-two: 'Shadows Into Light', cursive;
    --font-main:'Architects Daughter', cursive;
    --font-projects: 'Lato', sans-serif;

}